body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

#emoji {
  height: 20rem;
  width: 20rem;
  font-size: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  transition-property: transfrom, filter;
  transition-duration: 200ms;
  cursor: pointer;
  /* background-color: crimson; */
}

#emoji:hover {
  transform: scale(1.3);
  filter: grayscale(0);
}
